<div class="container" style="padding-top: 15px;">
  <div class="main-content">
    <div class="get-in-touch">
      <div class="entry-header">
        <div class="entry-title">
          <p>JUST THE BEST</p>
          <h2>Get in touch</h2>
        </div><!-- entry-title -->
      </div><!-- entry-header -->

      <div class="entry-content">
        <p>Quisque at erat eu libero consequat tempus. Quisque mole stie convallis tempus.
          Ut semper purus metus, a euismod sapien sodales ac. Duis viverra eleifend fermentum.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestibulum mauris quis
          aliquam.
          Integer accumsan sodales odio, id tempus velit ullamcorper id.</p>
      </div><!-- entry-content -->

      <form [formGroup]='contact' (ngSubmit)='sendMessage()'>
        <div class="contact-form">
          <div class="row">
            <div class="col-12 col-md-6">
              <input type="text" placeholder="Your name" class="form-control" formControlName="name">
            </div><!-- col-4 -->

            <div class="col-12 col-md-6">
              <input type="email" placeholder="Your email" class="form-control" formControlName="email">
            </div><!-- col-6 -->

            <div class="col-12">
              <input type="text" placeholder="Subject" class="form-control" formControlName="subject">
            </div>

            <div class="col-12">
              <textarea name="name" rows="8" cols="80" placeholder="Message" class="form-control"
                formControlName="message"></textarea>
            </div>


            <div class="col-12">
              <div>
                <input type="file" accept="image/x-png,image/gif,image/jpeg" (change)="onFileChanged($event)">
              </div>
            </div>


            <div class="col-12 submit flex justify-content-center">
              <input type="submit" name="" value="send message" [disabled]='contact.invalid' class="btn">
            </div>

          </div><!-- row -->
        </div><!-- contact-form -->
      </form>
    </div><!-- newsletter-subscribe -->

    <div class="contact-details">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="contact-medium flex align-items-center">
              <figure class="contact-icon">
                <img src="../../../assets/images/phone.jpg" alt="phone icon">
              </figure><!-- phone-icon -->

              <div class="contact-content">
                <div class="entry-title">
                  Phone
                </div><!-- entry-title -->
                <div class="entry-content">
                  +91 7350819867
                </div><!-- entry-content -->
              </div><!-- phone-number -->
            </div><!-- contact-phone -->
          </div><!-- col-4 -->

          <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
            <div class="contact-medium flex align-items-center">
              <figure class="contact-icon">
                <img src="../../../assets/images/mail.jpg" alt="phone icon">
              </figure><!-- phone-icon -->

              <div class="contact-content">
                <div class="entry-title">
                  E-mail
                </div><!-- entry-title -->
                <div class="entry-content">
                  themegagamep1ay@gmail.com
                </div><!-- entry-content -->
              </div><!-- phone-number -->
            </div><!-- contact-phone -->
          </div><!-- col-4 -->

          <div class="col-12 col-md-6 col-lg-4 mt-5 mt-lg-0">
            <div class="contact-medium flex align-items-center">
              <figure class="contact-icon">
                <img src="../../../assets/images/place.jpg" alt="phone icon">
              </figure><!-- phone-icon -->

              <div class="contact-content">
                <div class="entry-title">
                  Address
                </div><!-- entry-title -->
                <div class="entry-content">
                  D-wing,Mahindra Antheia,CTS 6017, Nehru Nagar Rd,<br>
                  Pimpri Colony, Pune, Maharashtra 411018
                </div><!-- entry-content -->
              </div><!-- phone-number -->
            </div><!-- contact-phone -->
          </div><!-- col-4 -->
        </div><!-- row -->
      </div>
    </div><!-- contact-details -->


    <!-- <div class="contact-page-map">
      <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Mahindra Antheia&t=&z=15&ie=UTF8&iwloc=&output=embed"
        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div> -->

  </div><!-- main-content -->
</div><!-- container -->
