<form [formGroup]='login' (ngSubmit)="onSubmit()">
  <p>Welcome Admin</p>
  <input type="text" name="email" placeholder="Email" class="form-control" formControlName='email' required
    [ngClass]="{'invalid-textbox' :isSubmitted && !email.valid }">

  <div *ngIf="isSubmitted && email.errors?.pattern">
    <label class="validation-message">Invalid email address.</label>
  </div>
  <input type="password" name="password" placeholder="Password" class="form-control" formControlName='password' required
    minlength="4" [ngClass]="{'invalid-textbox' :isSubmitted && !password.valid }">
  <div *ngIf="isSubmitted && password.errors?.minlength">
    <label class="validation-message">Minimum 4 characters.</label>
  </div>
  <input type="submit" class="btn btn-warning" value="Sign In">

</form>
